body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/* Header */
.container {
  max-width: 1550px;
  margin: 0 auto;
}
#main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo-container {
  padding-top: 24px;
  flex-grow: 1;
  margin-left: 30px;
}

.main-navigation {
  min-width: 300px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 20px;
}
.sign-up {
  display: flex;
  align-items: center;
  padding-top: 30px;
  margin-right: 30px;
}
#sign-up-button {
  color: #0065fc;
  font-weight: bold;
}
header nav ul li {
  padding-top: 40px;
}

header nav ul li:hover {
  border-top: 2px solid #0065fc;
}

a:hover {
  text-decoration: none;
  color: #0065fc;
}

a {
  color: #000;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Search from location */
.main-content-header {
  margin: 50px 30px;
}
.ml-mr {
  margin-left: 30px;
  margin-right: 30px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  width: 420px;
  box-shadow: inset 0 0 0 1px #f2f2f2;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 30px;
}
.location-icon {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.location-icon:hover {
  background-color: #eaeaea;
}
.input-search {
  padding: 17px;
  border: none;
  color: #000;
  font-weight: bold;
  background-color: #ffffff00;
  width: 280px;
}

.input-search:focus {
  outline: none;
  background-color: #fcfafa;
}

.input-search::placeholder {
  color: black;
  font-size: 1.2em;
}
.btn-submit {
  border: none;
  color: #ffffff;
  background-color: #0264fc;
  padding: 17px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.btn-submit:hover {
  background-color: #0055da;
}
.btn-submit-icon {
  display: none;
}

/* filter tags */
#filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  margin-top: 30px;
}
.filter-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-title {
  font-weight: bold;
  margin-right: 30px;
  align-items: center;
  display: flex;
}
.filter-tag {
  display: flex;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  font-weight: bold;
  margin-right: 20px;
}
.tag-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  padding: 17px;
  width: 17px;
  height: 17px;
  background-color: #deebff;
  border-radius: 100px;
}
.tag-icon:hover {
  background-color: #c2d7f7;
}
.tag {
  margin: 0 20px 0 15px;
}
#info-result {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  border: 1px solid #deebff;
  padding: 10px;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  margin-right: 10px;
}

/* Result */
#result {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

/* Hébergements à Marseille */
#accommodation-result {
  background-color: #f2f2f2;
  padding: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.popular-accomodation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
.result-title {
  font-size: 1.5em;
}

.accommodation-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: row;
}

.accommodation-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: solid white 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 12px 3px #d2d2d2;
  width: 250px;
  margin: 1em 0;
}
.card-img-top-acc {
  height: 118px;
  width: 100%;
  object-fit: cover;
}
/* .accommodation-card-img {
  background-image: url(/images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  height: 118px;
  background-position: center center;
  background-size: cover;
} */
.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 10px 10px 10px;
}
.card-tile {
  margin-bottom: 0;
}
.price-night-accommodation {
  flex-grow: 1;
}
.stars {
  display: flex;
  flex-direction: row;
  color: #0065fc;
}
.empty-star {
  color: #f2f2f2;
}

/* Les plus populaires */

#popular-accommodation {
  background-color: #f2f2f2;
  margin-left: 50px;
  padding: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.popular-accommodation-cards {
  display: flex;
  flex-direction: column;
}
.popular-accommodation-card {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: solid white 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 12px 3px #d2d2d2;
  width: 350;
  height: 150px;
  margin: 1em 0;
}
.img-container {
  width: 130px;
  background-position: center center;
  background-size: cover;
}
.img-1 {
  background-image: url(./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}
.img-2 {
  background-image: url(./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
.img-3 {
  background-image: url(./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

/* Activités à Marseille */
#activities {
  margin: 50px 30px 0 30px;
}
.activities-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.activity-card {
  display: flex;
  flex-direction: column;
  /* border: solid white 5px; */
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 12px 3px #d2d2d2;
  border-radius: 20px;
  width: 320px;
  margin-bottom: 45px;
  cursor: pointer;
}
.activity-card-img {
  object-fit: cover;
  flex-grow: 1;
  height: 150px;
}
.small-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activity-card p {
  font-weight: 600;
  margin: 15px;
}

/* Footer */

#footer {
  background-color: #f2f2f2;
  padding: 50px;
  margin-top: 50px;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin-left: 50px;
}
.about-menu,
.our-accommodations,
.help-menu {
  display: flex;
  flex-direction: column;
}

.about-menu-links,
.our-accommodations-links,
.help-menu-links {
  list-style: none;
  padding-left: 0;
}

/* @media */

@media screen and (max-width: 1210px) {
  #result {
    flex-direction: column-reverse;
  }
  #popular-accommodation {
    margin-left: 0;
    margin-bottom: 30px;

    /* border-radius: 0; */
  }
  .popular-accommodation-cards {
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
  .popular-accommodation-card:not(:last-child) {
    margin-right: 10px;
  }
  .popular-accommodation-card {
    width: 100%;
  }
}
@media screen and (max-width: 920px) {
  #result {
    margin: 0;
  }
  #popular-accommodation {
    border-radius: 0;
  }
  .popular-accommodation-cards {
    flex-wrap: wrap;
  }
  .activities-cards {
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .container {
    margin: auto;
  }
  header nav {
    width: 100%;
    order: 2;
  }
  header nav ul {
    width: 100%;
    padding-left: 0;
  }
  header nav ul li {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 15px;
  }
  header nav ul li:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }
  .search-form {
    width: 100%;
  }

  .filter-tag {
    margin-top: 10px;
  }
  #accommodation-result {
    align-content: center;
    background-color: #ffffff;
  }

  .accommodation-card {
    width: 100%;
  }
  .footer-nav {
    justify-content: flex-start;
  }
  .btn-submit-text {
    display: none;
  }
  .btn-submit-icon {
    display: inherit;
  }
}
